*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 100px;
    box-shadow: 0px 1px;
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.logo{
    width: 50px;
    height: 50px;
    margin-left: 41px;
}
#list{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    cursor: pointer;
}
#map{
    display: flex;
    margin-top: 12px;
    gap: 10px;

}
.map-icon{
    width: 20px;
    height: 20px;
}
#find{
    padding-top: 3px;
}
.navigation-2{
    display: flex;
    padding-left: 500px;
    cursor: pointer;
}
.button button{
    font-size: 14;
    font-weight: bold;
    border-radius: 50px;
    padding: 7px 15px;
    border-width: 1px;
    margin-left: 10px;
    cursor: pointer;
}
.button{
    border-radius: 50px;
    padding: 9px 18px;
    border-width: 1px;
    font-size: 14;
    font-weight: bold;
    margin-left: 20px;
}
#sign-in{
    color: black;
    background-color: white;
}
#join-now{
    color: white;
    background-color: black;
}
.small{
    width: 100%;
    height: 400px;
    margin-top: 30px;
    display: flex;
}

.small-photo{
    width: 50%;
    height: 400px;
}
.text{
    text-align: center;
    width: 50%;
    color: white;
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#rewards{
    background-color: #006241;

}
.small-main-text{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.switch{
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    padding: 7px 15px;
    border-width: 1px;
    margin-left: 270px;
    margin-right: 270px;
    color: white;
    background-color: transparent;
    border-color: white;
    border-width: 2px;
    cursor: pointer;
}

.big{
    width: 100%;
    height: 585px;
    margin-top: 30px;
    display: flex;
}
.big-image-heading{
    font-size: 50px;
}
#mocha{
    background-color: #006241;
}
.big-image{
    width: 50%;
    height: 585px;
}
.big-main-text{
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 40px;
    padding-top: 35px;
    padding-bottom: 35px;
}
#candy{
    background-color: #76232f;
}
#spicy{
    background-color: #1e3932;
}
#holiday{
    background-color: #1e3932;
}
#support{
    background-color: #1e3932;
}

.terms{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#conditions{
    margin-top: 96px;
    letter-spacing: 0.5px;
    line-height: 25px;
    font-size: 14px;
    
}
.foot{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}
.condainer{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.us{
    list-style: none;
    padding-top: 30px;
}
.footer-col{
    padding: 0px 50px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

}
.footer-list{
    padding-bottom: 20px;
}
.us li{
    padding-bottom: 20px;
    font-size: 16px;
}
.us li a{
    color: gray;
    text-decoration: none;
}
.us li a:hover{
    color: black;
}
.png-images{
    padding-left: 33px;
    padding-top: 50px;
}
.png{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
}
.last-footer{
    padding-left: 10px;
    padding-top: 25px;
}
.last-footer a{
    padding-left: 40px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}
.last-footer a:hover{
    text-decoration: underline;
}
.last-word{
    margin-left: 50px;
    margin-top: 25px;
    font-size: 14px;
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: grey;
}
